.idea/.name
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/
.idea/vcs.xml
.idea/workspace.xml
.DS_Store
.idea/linkedinHack2014.iml
.idea/msc.xml
.idea/workspace.xml
