.header{
	background: #404343;
}

.btn{
	left: 300px;
	color: #B21E01;
	background-color:#A7ABB2;
    -webkit-border-top-left-radius:3px;
  	-moz-border-radius-topleft:3px;
  	border-top-left-radius:3px;
  	-webkit-border-top-right-radius:3px;
  	-moz-border-radius-topright:3px;
  	border-top-right-radius:3px;
  	-webkit-border-bottom-right-radius:3px;
  	-moz-border-radius-bottomright:3px;
  	border-bottom-right-radius:3px;
  	-webkit-border-bottom-left-radius:3px;
  	-moz-border-radius-bottomleft:3px;
  	border-bottom-left-radius:3px;
  	text-indent:0;
  	border:1px solid #ffffff;
  	display:inline-block;
  	margin: 3px 0px;
  	text-decoration:none;
  	text-align:center;
  	font-family: 'Titillium Web', sans-serif;
}