
html {
    height: 100%;
}

body {
    height: 100%;
    weight: 100%;
    margin: 0;
    padding: 0;
}

/*Adapt the following styling depending on where you want to put your map. If you want a 'full screen' map, then set the width and height to 100 percent and remove the margins.*/
#map {
    z-index: 50;
    height: 700px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-right-width: 2px;
    border-right-color: #ffffff;
    border-right-style: solid;
    border-left-width: 2px;
    border-left-color: #ffffff;
    border-left-style: solid;
}

.pop_up_box_text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    display: inline;
}
.container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    top: -74px;
}
